<div class="flex flex-col items-end w-full pr-2 gap-1">
    <form action="/buscar_libro" method="post">
        <input class="rounded-md m-1 w-80 border border-solid border-gray-400" type="text" name="titulo" placeholder="Ingrese el titulo del libro que desea buscar" required>
        <button class="rounded-2xl m-1 p-2 text-white bg-blue-400" >Buscar</button>
    </form>
    <a class="rounded-md m-1 p-2 text-white bg-violet-400" href="/libros">Mostrar Todo</a>

</div>

<p class="font-bold">Listado Libros</p>
{{#if hasBook }}
    <ul>
        {{#each libros}}
            {{#if (igual this.id_usuario ../usuario)}}
                <p></p>
            {{else}}
                <div class="flex m-3 bg-gray-200 gap-5 h-32">
                    <figure class="w-20 h-20">
                        <img  src="{{this.portada}}">
                    </figure>
                    <div >
                        {{!-- <p>id:{{igual this.id_usuario ../usuario}}</p> --}}
                        <h3 class="font-bold text-lg">{{this.titulo}}</h3>
                        <p>Autor: {{this.autor}}</p>
                        <p>Precio: ${{this.precio}}</p>
                        {{!-- <p>{{this.estado}}</p>
                        <p>{{this.id_usuario}}</p> --}}
                        <p>⭐ {{formatNum this.rating}}</p>
                        {{!-- <p>Calificacion promedio{{calificacion this.id}}</p> --}}
                    </div>
                    
                    {{#if (igual this.estado ../disponible)}}
                        <div class="flex items-end ml-10">
                            <a href="/rentar_libro/{{this.id}}" class="rounded-md m-1 p-2 text-white bg-blue-400">Rentar</a>
                        </div>
                    {{else}} 
                        <div class="flex items-end ml-10">
                            <p>no disponible</p>
                        </div>
                    {{/if}}
                    
                </div>
            {{/if}}

        {{/each}}
    </ul>
{{else}}
    <p class="text-red-500">Ningun Libro registrado</p>
{{/if}}