<div class="flex flex-col items-center">
    <h2 class="text-lg text-blue-500">Registro</h2>
    <form class="flex flex-col p-5 w-1/4 bg-gray-100" action="/registro_usuario" method="post">
        <input class="rounded-md m-1" type="text" name="username" placeholder="Usuario" value="{{usuario.username}}" required>
        <input class="rounded-md m-1" type="text" name="nombre" placeholder="Nombre Completo" value="{{usuario.nombre}}" required>
        <input class="rounded-md m-1" type="number" name="edad" placeholder="Edad" value="{{usuario.edad}}" required> 
        <input class="rounded-md m-1" type="email" name="email" placeholder="Email" value="{{usuario.email}}" required>
        <input class="rounded-md m-1" type="text" name="foto_perfil" placeholder="url foto de perfil" value="{{usuario.foto_perfil}}">
        <input class="rounded-md m-1" type="password" name="contrasenia" placeholder="Contraseña" value="{{usuario.contrasenia}}" required>
        <input class="rounded-md m-1" type="password" name="repetcontrasenia" placeholder="Repite la Contraseña" required>
        <button class="rounded-md m-1 p-2 text-white bg-blue-400" >Guardar</button>

        {{#unless validation.success}}
            <ul>
                {{#each validation.errors}}
                    <li >
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        {{/unless}}

    </form>
</div>