{{#if session.loggedIn}}
    <h1>Bienvenido {{session.username}}</h1>
{{else}}
    <h1>Inicia Sesion</h1>
{{/if}}

<p class="font-bold">Listado</p>
{{#if hasUsers }}
    <ul>
        {{#each usuarios}}
            <div class="flex m-3 bg-gray-200 gap-5">
                <figure class="w-20 h-20">
                    <img  src="{{this.foto_perfil}}">
                </figure>
                <div >
                    <h3 class="font-bold text-lg">{{this.nombre}}</h3>
                    <p>{{this.email}}</p>
                    <p>{{this.edad}}</p>
                    
                </div>
            </div>
        {{/each}}
    </ul>
{{else}}
    <p class="text-red-500">Ningun usuario registrado</p>
{{/if}}
